html, body {
    background-color: #696969;
}

#grid {
    display: grid;
    width: 500px;
    height: 500px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#settings div {
    text-align: center;
    color: white;
}

.cell {
    background-color: #dddddd;
    /* width: 10px;
    height: 10px;
    border: 1px solid #555555; */
}
