:root {
    --background-color: #1f2937;
    --main-text-color: #f9faf8;
    --secondary-text-color: #e5e7eb;
    --button-color: #3882f6;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--background-color);
    padding: 10px 24px;
    font-size: 18px;
}

.header-logo {
    font-size: 24px;
    color: var(--main-text-color);
}

.header-links a{
    color: var(--secondary-text-color);
    text-decoration: none;
}

.header-links ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

.head-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background-color);
    padding: 48px 250px;
    font-size: 18px;
    color: var(--secondary-text-color);
    gap: 12px;
}

.head-container h1 {
    color: var(--main-text-color);
    font-weight: bolder;
    font-size: 48px;
}

button {
    color: var(--main-text-color);
    background-color: var(--button-color);
    border-radius: 8px;
    border: 1px solid var(--button-color);
    padding: 5px 24px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 48px 200px;
    color: var(--background-color);
    gap: 36px;
}

.image-container h3 {
    font-weight: bolder;
    font-size: 36px;
}

.images {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 24px;
    font-size: 18px;
    color: var(--primary-text-color);
}

.images div {
    text-align: center;
}

.images div img {
    border: 5px solid var(--button-color);
    border-radius: 8px;
}

.quote-container {
    display: flex;
    padding: 64px 200px;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-text-color);
    color: var(--background-color);
}

.quote-container div {
    padding: 0 100px;
}

.quote-container div h1 {
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
}

.attribution {
    font-weight: bolder;
    display: flex;
    justify-content: right; 
}

.call-to-action-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px 200px;
}

.call-box {
    display: flex;
    align-items: center;
    padding: 24px 100px;
    justify-content: space-between;
    background-color: var(--button-color);
    border-radius: 8px;
    color: var(--main-text-color);
    gap: 200px;
    line-height: 10px;
}

.call-box h3 {
    font-size: 24px;
    font-weight: bolder;
}

.call-box button {
    border-color: var(--main-text-color);
}

footer {
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    color: var(--secondary-text-color)
}